/* Styles pour le conteneur principal */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7fafc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Empêcher le débordement de l'image floue */
  position: relative; /* Ajout de position relative pour le positionnement absolu */
}

/* Styles pour les éléments de formulaire */
label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: #42e14c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #31ce5b;
}

/* Styles pour le conteneur de l'image de fond */
.background-image {
  background-image: url('../img/logo.png'); /* Chemin vers votre image de fond */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(10px); /* Appliquer un flou à l'image */
}

/* Styles pour le contenu du formulaire */
.content {
  position: relative;
  z-index: 1; /* Assurer que le contenu est au-dessus de l'image de fond */
}
